# 6.1 Making variables

In [6]:
x = 10
x

10

10

In [7]:
y = 'Hi'
y

'Hi'

6.1.1 Finding out the type of class

In [10]:
type(x)

int

In [12]:
type(y)

str

6.1.2 Making multiple variables all in one line

In [15]:
x, y, z = 10, 20, 30
x, y, z

# 변수이름1, 변수이름2, 변수이름3 = 값1, 값2, 값3

(10, 20, 30)

In [17]:
x = y = z
x, y, z

(30, 30, 30)

In [24]:
x, y = 10, 20
x, y = y, x
x, y

(20, 10)

Bonus | delete a variable using 'del'

In [26]:
x = 10
del x
x

NameError: name 'x' is not defined

Bonus | create an empty variable by assigning it to None

In [30]:
x = None
print(x)

None

In [31]:
x

# 6.2 Calculate using variables

In [32]:
a = 10
b = 20
c = a + b
c

30

6.2.1 Using assignment operators after arithmetic operations

In [34]:
a = 10
a + 20
a
# no difference

10

In [36]:
a = 10
a = a+20
a
# assigned a as the variable during the arithmetic operation

30

In [39]:
# we are lazy to type so let's make this simpler
# shorten the repetition of adding 20 each time using =+

a = 10
a += 20
a

30

bonus | adding a sign

In [43]:
x = -10
-x

10

In [45]:
x = 10
-x

-10

# 6.3 Using the Input( ) function

In [47]:
input()

Yo

'Yo'

6.3.2 Assigning the result of the input function to a variable
- variable = input()

In [49]:
x = input()

Hello

In [50]:
x = input('type in whatever you want to say')
x

type in whatever you want to sayINPUT() is friggin cooooool

'INPUT() is friggin cooooool'

In [89]:
x = input('파이썬 프롬프트: ')

파이썬 프롬프트: >>>

6.3.3 Finding the sum of two numbers

In [60]:
# input() makes everything str object so the numbers aren't added.
a = input('type in ')
b = input('type in ')
print(a+b)

type in 10
type in 20
1020

In [63]:
type(a and b)

str

In [57]:
# make it prettier
a = input('first, type in: ')
b = input('secondly, type in: ')
c = input('thirdly, type in: ')
d = input('fourth, type in: ')
e = input('fifth, type in: ')
print(a + ' ' + b + ' ' + c + ' ' + d + ' ' + e)

first, type in: looks
secondly, type in: better
thirdly, type in: with
fourth, type in: the
fifth, type in: spaces
looks better with the spaces

6.3.4 Converting input values to integers

In [69]:
# converting the default data type (str) into integer

a = int(input('type in the number first: '))
b = int(input('then the second number: '))
a + b

type in the number first: 10
then the second number: 20

30

In [71]:
a = float(input('only type in numbers with decimal: '))
b = float(input('here\'s the second one: '))
a + b

only type in numbers with decimal: 3.7
here's the second one: 2.45

6.15

In [ ]:
# 6.4 Storing input values into two variables

In [74]:
a, b = input('multiple inputs at once: ').split()

multiple inputs at once: 30 40

In [76]:
print(a)

30

In [77]:
print(b)

40

In [79]:
a, b = input('add two str objects: ').split()

add two str objects: hello python