In [2]:
a = (1,2,3,4,5)
6 in a

False

In [4]:
b = [6,7,8,9,10]
7 in b

True

In [13]:
'e' in 'Hello'

True

In [15]:
5 in range(10)

True

In [17]:
a = 'Python'
'P'in a

True

In [20]:
a = [1,2,3]
b = [4,5,6]
x = a+b
5 in x

True

In [22]:
range(5) + range(10)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [25]:
list(range(5)) + list(range(10))

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
tuple(range(3)) + tuple(range(5))

(0, 1, 2, 0, 1, 2, 3, 4)

In [30]:
'Hello' + ' ' + 'Kyuri'

'Hello Kyuri'

In [32]:
'Hello,' + ' Kyuri'

'Hello, Kyuri'

In [34]:
[1,2,3] * 4

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [37]:
'Hello ' * 5

'Hello Hello Hello Hello Hello '

In [38]:
[0, 10, 20 , 30] * 3

[0, 10, 20, 30, 0, 10, 20, 30, 0, 10, 20, 30]

In [40]:
[1,2,3] * 0

[]

In [41]:
[1,2,3] * 2.1

TypeError: can't multiply sequence by non-int of type 'float'

In [42]:
(1,2,3) * -3

()

## 11.2 len 함수

In [45]:
a=[1,2,3,4,5,6]
len(a)

6

In [46]:
a = 'kor','eng','fre'
len(a)

3

In [48]:
b = (1,2,3,4,5,6,7,8,9)
len(b)

9

In [50]:
len(range(0,10,2))

5

In [52]:
hello = 'my'+'name'
len(hello)

6

In [55]:
a = '신규리'
len(a)

3

In [56]:
a = '신 규 리'
len(a)

5

## 11.3 인덱스 사용하기

In [62]:
a = [6, 10, 20, 30, 40]
a[0]

6

In [63]:
a[2]

20

In [65]:
a = 'Hello'
a[3]

'l'

In [68]:
a = (32, 34, 19, 40)
a[0]

32

In [71]:
r = range(10,30,2)
r[4]

18

In [73]:
r = range(3,20,3)
x = int(input())
r[x]

5

18

In [75]:
a = [214, 324, 19, 92, 18, 34]
a[-2]

18

In [77]:
r = range(1, 30, 5)
r[-3]

16

In [79]:
hello = 'this is a greeting'
hello[-5]

'e'

In [82]:
a = [11,23,32,48,54,63,80,96,101]
len(a[3])

TypeError: object of type 'int' has no len()

In [88]:
a = [11,23,32,48,54,63,80,96,101]
a[len(a)-1]

101

In [90]:
a = [0,0,0,0]
a[0] = 10
a[1] = 20
a[2] = 30
a[3] = 40

a

[10, 20, 30, 40]

In [92]:
b = (0,0,0,0)
b[0] = 5

TypeError: 'tuple' object does not support item assignment

In [94]:
r = range(1,10,2)
r[0] = 2

TypeError: 'range' object does not support item assignment

In [96]:
hello = 'bye'
hello[0] = a

TypeError: 'str' object does not support item assignment

In [99]:
a = [1,2,3,4,5,6]
del a[3]
a

[1, 2, 3, 5, 6]

## 11.4 슬라이스 사용하기

In [101]:
a = [1,2,3,4,5,6,7,8,9,10]
a[0:4]                       # 4번째까지 잘라줘

[1, 2, 3, 4]

In [110]:
a = [1,2,3,4,5]
a[1:10]

[2, 3, 4, 5]

In [112]:
a = [1,2,3,4,5]
a[1:1]

[]

In [116]:
a = [1,2,3,4,5]
a[2:4]

[3, 4]

In [123]:
a = [1,2,3,4,5,8,9,10,11,12,13]
a[4:-2]

[5, 8, 9, 10, 11]

In [125]:
a = [1,2,3,4,5,8,9,10,11,12,13]
a[-2:5]

[]

In [127]:
a = [1,2,3,4,5,8,9,10,11,12,13]
a[0:10:2]

[1, 3, 5, 9, 11]

In [137]:
a = [0,10,20,30,40,50,60,70,80,90]
a[3:9:2]

[30, 50, 70]

In [131]:
a = [0,1,2,3,4,5,6,7,8,9]
a[:7]

[0, 1, 2, 3, 4, 5, 6]

In [133]:
a = [0,1,2,3,4,5,6,7,8,9]
a[7:]

[7, 8, 9]

In [135]:
a = [0,1,2,3,4,5,6,7,8,9]
a[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [138]:
a = [0,1,2,3,4,5,6,7,8,9]
a[:6:2]

[0, 2, 4]

In [140]:
a = [0,1,2,3,4,5,6,7,8,9]
a[1::5]

[1, 6]

In [148]:
a = [0,1,2,3,4,5,6,7,8,9]
a[::4]

[0, 4, 8]

In [150]:
a = [0,1,2,3,4,5,6,7,8,9]
a[:len(a)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [157]:
a = [0,1,2,3,4,5,6,7,8,9]
a[1:len(a):3]

[1, 4, 7]

In [171]:
r = range(10,100,3)
r[0:len(r):30]
list(r[0:len(r):30])

[10]

In [178]:
r = (range(5,20,2))
tuple(r[:20:4])

(5, 13)

In [181]:
a = [0,10,20,30,40,50]
a[2:5] = 'a','b','c'
a

[0, 10, 'a', 'b', 'c', 50]

In [183]:
a = [0,10,20,30,40,50]
a[2:5] = 'x'
a

[0, 10, 'x', 50]

In [186]:
a = [0,10,20,30,40,50]
a[2:5] = 'f','g','h','i','j','k','l','m'
a

[0, 10, 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 50]

In [188]:
a = [0,10,20,30,40,50]
a[:7:2] = 'h','e','y'
a

['h', 10, 'e', 30, 'y', 50]

In [190]:
a = [0,10,20,30,40,50]
del a[:3]
a

[30, 40, 50]

In [199]:
a = [0,10,20,30,40,50]
del a[:len(a):2]
a

[10, 30, 50]

In [209]:
year = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
population = [10249679, 10195318, 10143645, 10103233, 10022181, 9930616, 9857426, 9838892]

print(year[-3:])
print(population[-3:])

[2016, 2017, 2018]
[9930616, 9857426, 9838892]

In [213]:
n = -32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2
# 튜플 n에서 인덱스가 홀수
print(tuple(n[1:len(n):2]))

(75, -10, 32, -15, 76, 2)

표준 입력으로 숫자 또는 문자열 여러 개가 입력되어 **리스트 x**에 저장됩니다    
(입력되는 숫자 또는 문자열의 개수는 정해져 있지 않음).     
다음 소스 코드를 완성하여 **리스트 x의 마지막 요소 5개를 삭제한 뒤 튜플로 출력되게** 만드세요.

In [223]:
x = input().split()
a = tuple(x[:-5])
a

1 2 3 4 5 6 7 8 9 10

('1', '2', '3', '4', '5')

In [225]:
x = input().split()
a = tuple(x[:-5])
a

oven bat pony total leak wreck curl crop space navy loss knee

('oven', 'bat', 'pony', 'total', 'leak', 'wreck', 'curl')

In [232]:
x = input().split()
del x[-5:]
print(tuple(x))

oven bat pony total leak wreck curl crop space navy loss knee
('oven', 'bat', 'pony', 'total', 'leak', 'wreck', 'curl')

표준 입력으로 **문자열 두 개가 각 줄에 입력**됩니다 (문자열의 길이는 정해져 있지 않음).      
첫 번째 문자열에서 **인덱스가 홀수**인 문자와 두 번째 문자열에서 **인덱스가 짝수**인 문자를 **연결하여 출력**하는 프로그램을 만드세요     
(input에서 안내 문자열은 출력하지 않아야 합니다). 연결 순서는 첫 번째 문자열, 두 번째 문자열 순입니다. 그리고 **0은 짝수로 처리합니다.**

________________
________________
________________

In [4]:
a = input()
b = input()
print(a[1:len(a):2] + b[:len(a):2])

python
python
yhnpto

In [3]:
a = input()
b = input()
print(a[1::2] + b[::2])

apple
strawberry
plsrwer