# Observing and preprocessing data
---

In [3]:
# set modules
import pandas as pd
import os

# directory
fname = os.getenv('HOME') + '/aiffel/recommendata_iu/data/lastfm-dataset-360K/usersha1-artmbid-artname-plays.tsv'
# column name temporarily set
col_names=['user_id', 'artist_MBID', 'artist', 'play']
# tsv files can only be opened with sep='\t'
data = pd.read_csv(fname,sep = '\t',names = col_names)
data.head(10)

,user_id,artist_MBID,artist,play
0,00000c289a1829a808ac09c00daf10bc3c4e223b,3bd73256-3905-4f3a-97e2-8b341527f805,betty blowtorch,2137
1,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,die √Ñrzte,1099
2,00000c289a1829a808ac09c00daf10bc3c4e223b,b3ae82c2-e60b-4551-a76d-6620f1b456aa,melissa etheridge,897
3,00000c289a1829a808ac09c00daf10bc3c4e223b,3d6bbeb7-f90e-4d10-b440-e153c0d10b53,elvenking,717
4,00000c289a1829a808ac09c00daf10bc3c4e223b,bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8,juliette & the licks,706
5,00000c289a1829a808ac09c00daf10bc3c4e223b,8bfac288-ccc5-448d-9573-c33ea2aa5c30,red hot chili peppers,691
6,00000c289a1829a808ac09c00daf10bc3c4e223b,6531c8b1-76ea-4141-b270-eb1ac5b41375,magica,545
7,00000c289a1829a808ac09c00daf10bc3c4e223b,21f3573f-10cf-44b3-aeaa-26cccd8448b5,the black dahlia murder,507
8,00000c289a1829a808ac09c00daf10bc3c4e223b,c5db90c4-580d-4f33-b364-fbaa5a3a58b5,the murmurs,424
9,00000c289a1829a808ac09c00daf10bc3c4e223b,0639533a-0402-40ba-b6e0-18b067198b73,lunachicks,403

In [4]:
# print only columns that will be used
using_cols=['user_id','artist','play']
# dataÎ•º ÏÉàÎ°ú ÏßÄÏ†ïÌïòÍ∏∞
data = data[using_cols]
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die √Ñrzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [5]:
# Í≤ÄÏÉâÏù¥ ÏâΩÍ≤å ÏòÅÏñ¥Î•º ÏÜåÎ¨∏ÏûêÎ°ú Î∞îÍæ∏Í∏∞
data['artist'] = data['artist'].str.lower()
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die √§rzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [7]:
# find out which song the first artist listens to
# declare user_id's data as data in location first user id
condition = (data['user_id']) == (data.loc[0,'user_id'])
data.loc[condition]

                                     user_id                   artist  play
0   00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1   00000c289a1829a808ac09c00daf10bc3c4e223b                die √§rzte  1099
2   00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3   00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4   00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5   00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6   00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7   00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8   00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9   00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403
10  00000c289a1829a808ac09c00daf10bc3c4e223b         walls of jericho   393
11  00000c289a1829a808ac09c00daf10bc3c4e223b           letzte instanz   387
12  00000c289a1829a808ac09c00daf10bc3c4e223b                goldfrapp   361
13  00000c289a1829a808ac09c00daf10bc3c4e223b               horrorpops   358
14  00000c289a1829a808ac09c00daf10bc3c4e223b             the butchies   329
15  00000c289a1829a808ac09c00daf10bc3c4e223b            jack off jill   316
16  00000c289a1829a808ac09c00daf10bc3c4e223b         babes in toyland   310
17  00000c289a1829a808ac09c00daf10bc3c4e223b         dropkick murphys   302
18  00000c289a1829a808ac09c00daf10bc3c4e223b            all:my:faults   288
19  00000c289a1829a808ac09c00daf10bc3c4e223b                 le tigre   281
20  00000c289a1829a808ac09c00daf10bc3c4e223b               schandmaul   244
21  00000c289a1829a808ac09c00daf10bc3c4e223b                    edguy   232
22  00000c289a1829a808ac09c00daf10bc3c4e223b      maximum the hormone   231
23  00000c289a1829a808ac09c00daf10bc3c4e223b                 all ends   229
24  00000c289a1829a808ac09c00daf10bc3c4e223b             jack johnson   227
25  00000c289a1829a808ac09c00daf10bc3c4e223b                eluveitie   222
26  00000c289a1829a808ac09c00daf10bc3c4e223b                rasputina   220
27  00000c289a1829a808ac09c00daf10bc3c4e223b    london after midnight   210
28  00000c289a1829a808ac09c00daf10bc3c4e223b              the killers   208
29  00000c289a1829a808ac09c00daf10bc3c4e223b                  mutyumu   205
30  00000c289a1829a808ac09c00daf10bc3c4e223b             judas priest   198
31  00000c289a1829a808ac09c00daf10bc3c4e223b               rob zombie   198
32  00000c289a1829a808ac09c00daf10bc3c4e223b             the bosshoss   189
33  00000c289a1829a808ac09c00daf10bc3c4e223b         blue √∂yster cult   185
34  00000c289a1829a808ac09c00daf10bc3c4e223b             sandra nasic   183
35  00000c289a1829a808ac09c00daf10bc3c4e223b               john mayer   182
36  00000c289a1829a808ac09c00daf10bc3c4e223b           sleater-kinney   175
37  00000c289a1829a808ac09c00daf10bc3c4e223b                  the who   168
38  00000c289a1829a808ac09c00daf10bc3c4e223b                 disciple   154
39  00000c289a1829a808ac09c00daf10bc3c4e223b                  tanzwut   153
40  00000c289a1829a808ac09c00daf10bc3c4e223b               guano apes   151
41  00000c289a1829a808ac09c00daf10bc3c4e223b       the rolling stones   150
42  00000c289a1829a808ac09c00daf10bc3c4e223b          little big town   145
43  00000c289a1829a808ac09c00daf10bc3c4e223b              team dresch   137
44  00000c289a1829a808ac09c00daf10bc3c4e223b                    betty   135
45  00000c289a1829a808ac09c00daf10bc3c4e223b                       l7   135
46  00000c289a1829a808ac09c00daf10bc3c4e223b                bif naked   134
47  00000c289a1829a808ac09c00daf10bc3c4e223b               girlschool   134
48  00000c289a1829a808ac09c00daf10bc3c4e223b          the wallflowers   131

# Data Observation
---
- Number of users, number of artists, popular artists 
- Statistics on how many artists users are listening to 
- Statistics on the median number of user plays

<mark>pandas.DataFrame.nunique()</mark> is useful for finding out the unique number of data in the specific coloumn.

In [9]:
# number of users
data['user_id'].nunique()

358868

In [10]:
# number of artists
data['artist'].nunique()

291346

In [14]:
# popular artists
artist_count = data.groupby('artist')['user_id'].count()
artist_count.sort_values(ascending=False).head(30)

artist
radiohead                77254
the beatles              76245
coldplay                 66658
red hot chili peppers    48924
muse                     46954
metallica                45233
pink floyd               44443
the killers              41229
linkin park              39773
nirvana                  39479
system of a down         37267
queen                    34174
u2                       33206
daft punk                33001
the cure                 32624
led zeppelin             32295
placebo                  32072
depeche mode             31916
david bowie              31862
bob dylan                31799
death cab for cutie      31482
arctic monkeys           30348
foo fighters             30144
air                      29795
the rolling stones       29754
nine inch nails          28946
sigur r√≥s                28901
green day                28732
massive attack           28691
moby                     28232
Name: user_id, dtype: int64

In [15]:
# Statistics on how many artists are listened to by user
user_count = data.groupby('user_id')['artist'].count()
user_count.describe()

count    358868.000000
mean         48.863234
std           8.524272
min           1.000000
25%          46.000000
50%          49.000000
75%          51.000000
max         166.000000
Name: artist, dtype: float64

In [16]:
# Stats on median number of play count per User
user_median = data.groupby('user_id')['play'].median()
user_median.describe()

count    358868.000000
mean        142.187676
std         213.089902
min           1.000000
25%          32.000000
50%          83.000000
75%         180.000000
max       50142.000000
Name: play, dtype: float64

# User initial information setting for model verification
---

Let's copy the algorithm YouTube Music uses;      
Recommendation System that works from 5 artist information inputs.    
We must add at least 5 datas in the dataset.

In [18]:
# Î≥∏Ïù∏Ïù¥ Ï¢ãÏïÑÌïòÏãúÎäî ÏïÑÌã∞Ïä§Ìä∏ Îç∞Ïù¥ÌÑ∞Î°ú Î∞îÍøîÏÑú Ï∂îÍ∞ÄÌïòÏÖîÎèÑ Îê©ÎãàÎã§! Îã®, Ïù¥Î¶ÑÏùÄ Íº≠ Îç∞Ïù¥ÌÑ∞ÏÖãÏóê ÏûàÎäî Í≤ÉÍ≥º ÎèôÏùºÌïòÍ≤å ÎßûÏ∂∞Ï£ºÏÑ∏Ïöî. 
my_favorite = ['black eyed peas' , 'maroon5' ,'jason mraz' ,'coldplay' ,'beyonc√©']

# 'zimin'Ïù¥ÎùºÎäî user_idÍ∞Ä ÏúÑ ÏïÑÌã∞Ïä§Ìä∏Ïùò ÎÖ∏ÎûòÎ•º 30ÌöåÏî© Îì§ÏóàÎã§Í≥† Í∞ÄÏ†ïÌïòÍ≤†ÏäµÎãàÎã§.
my_playlist = pd.DataFrame({'user_id': ['zimin']*5, 'artist': my_favorite, 'play':[30]*5})

if not data.isin({'user_id':['zimin']})['user_id'].any():  # user_idÏóê 'zimin'Ïù¥ÎùºÎäî Îç∞Ïù¥ÌÑ∞Í∞Ä ÏóÜÎã§Î©¥
    data = data.append(my_playlist)                           # ÏúÑÏóê ÏûÑÏùòÎ°ú ÎßåÎì† my_favorite Îç∞Ïù¥ÌÑ∞Î•º Ï∂îÍ∞ÄÌï¥ Ï§çÎãàÎã§. 

data.tail(10)       # Ïûò Ï∂îÍ∞ÄÎêòÏóàÎäîÏßÄ ÌôïÏù∏Ìï¥ Î¥ÖÏãúÎã§.

  user_id           artist  play
0   kyuri            bicep    30
1   kyuri   avalon emerson    30
2   kyuri          midland    30
3   kyuri     helena hauff    30
4   kyuri            or:la    30
0   zimin  black eyed peas    30
1   zimin          maroon5    30
2   zimin       jason mraz    30
3   zimin         coldplay    30
4   zimin          beyonc√©    30

In [17]:
my_favourite = ['bicep', 'avalon emerson', 'midland', 'helena hauff', 'or:la']
my_playlist = pd.DataFrame({'user_id':['kyuri']*5, 'artist': my_favourite, 'play':[30]*5})

if not data.isin({'user_id':['zimin']})['user_id'].any():
    data = data.append(my_playlist)
    
data.tail(10)

               user_id           artist  play
17535650  sep 20, 2008       turbostaat    12
17535651  sep 20, 2008    cuba missouri    11
17535652  sep 20, 2008  little man tate    11
17535653  sep 20, 2008        sigur r√≥s    10
17535654  sep 20, 2008       the smiths    10
0                kyuri            bicep    30
1                kyuri   avalon emerson    30
2                kyuri          midland    30
3                kyuri     helena hauff    30
4                kyuri            or:la    30

## Preprocessing to utilise model (Practice)
---
**indexing** to manage data at ease

pandas.DataFrame.unique() is a very useful method which collects unique data in specific column.    
especially during the process of **indexing**

In [20]:
# code for finding native users & artists
user_unique = data['user_id'].unique()
artist_unique = data['artist'].unique()

# indexing users & artists
# idx is short for index
user_to_idx = {v:k for k,v in enumerate(user_unique)}
artist_to_idx = {v:k for k,v in enumerate(artist_unique)}

# this is called dictionary, which comprises of keys and values

In [25]:
# checking if indexing is done properly
print(user_to_idx['zimin']) # 358868th user
print(artist_to_idx['jason mraz']) #3746th artist

358869
3746

# changing the value within data column using indexing
# dictionary data type's get function - https://wikidocs.net/16

# let's find Series of indexed values within user_id column through user_to_idx.get
# if there is a row that hasn't been indexed properly, the index will be shown as NaN so delete by dropna()

temp_user_data = data['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(data):   # if every row is indexed properly
    print('user_id column indexing OK!!')
    data['user_id'] = temp_user_data   # exchange data['user_id'] with indexed Series
else:
    print('user_id column indexing Fail!!')

# through artist_to_idx index artist column also in the same manner.
temp_artist_data = data['artist'].map(artist_to_idx.get).dropna()
if len(temp_artist_data) == len(data):
    print('artist column indexing OK!!')
    data['artist'] = temp_artist_data
else:
    print('artist column indexing Fail!!')

data

In [26]:
temp_user_data = data ['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(data):
    print('user_id column has been indexed succesfully üòã')
    data['uder_id'] = temp_user_data
else:
    print('user_id column has failed at indexing üòû')
    
temp_artist_data = data['artist'].map(artist_to_idx.get).dropna()
if len(temp_artist_data) == len(data):
    print('user_id column has been indexed succesfully üòã')
else:
    print('user_id column has failed at indexing üòû')

# don't forget data to show the table!    
data

user_id column has been indexed succesfully üòã
user_id column has been indexed succesfully üòã

Are the values in the <mark>user_id</mark> and <mark>artist columns</mark> of data **changed to integer index values?**     
This completes the preprocessing prep for training!!

# 7-4. User's Explicit/Implicit evaluation
---
If there's MNIST for image processing, we have Movielens Data for recommendation algorithm.    
ratings.csv files consists of 4 different data columns:     

- userID
- movieID
- rating
- timestamp

**Implicit data** is information that is **not provided intentionally** but **gathered from available data streams, either directly or through analysis of explicit data.**     

**Explicit data** is information that is **provided intentionally**, for example **through surveys and membership registration forms.**

In [31]:
# when the song is only played 'once'
# let's check the proportion of the data

only_once = data[data['play']<2] # less than twice
once, all_data = len(only_once), len(data)
print(f'{once},{all_data}')
print(f'ratio of only one play count over all data is{once/all_data: .2%}')
# what the fuck is f'format? https://bit.ly/2DTL

147740,17535665
ratio of only one play count over all data is 0.84%

Setting the rules:
- If you have heard it at least once, it is considered as if you prefer it. 
- I consider that I like the artist more clearly by leaning towards the artist who was played a lot.

# 7-5. Matrix Factorization(MF)
---
Now we have our data ready, it's time to make the rating matrix!
Some parts of the matrix are filled with data but the rest are NULL.    
Collaborating Filtering works under rating matrix as such.    
If we have no NULL matrix, that means we can build the PERFECT recommendation system!

The kind of recommendation system we are going to use now is the Matrix Factorisation

# 7-6. CSR(Compressed Sparse Row) Matrix
---

Let's think about User X Item rating matrix. Users are 360,000 and Artists are 290,000.    
Express these in matrices and if one integer (1 byte) is included in each element of the matrix, then 360,000 * 290,000 * 1 byte ‚âà You need ‚âà 97 GB.